.root {
  -fx-font-size: 14px;
  -fx-font-family: sans-serif;
  -fx-background-color: #777777;
}

TextField {
  -fx-alignment: center;
}

.camera-section {
  -fx-pref-width: 800;
  -fx-pref-height: 600;
  -fx-background-color: #222222
}

.panel {
  -fx-spacing: 10;
  -fx-padding: 10 10 10 10;
  -fx-alignment: bottom-center;
}

.parameter-row {
  -fx-spacing: 10;
  -fx-alignment: bottom-center;
}

.parameter {
  -fx-background-color: #BBBBBB;
  -fx-max-width: 100;
  -fx-alignment: bottom-center;
  -fx-text-alignment: center;
  -fx-text-origin: bottom;
}

.parameter .content {
  -fx-background-color: #BBBBBB;
}

.button-row {
  -fx-spacing: 10;
  -fx-alignment: bottom-center;
}

#console {
  -fx-min-height: 200;
  -fx-background-color: #EEEEEE;
  -fx-text-fill: green;
}

#console .content {
 -fx-background-color: #EEEEEE;
}
